body{
    background: #ebebeb;
}

nav .container{padding-left: 0;padding-right: 0;}
/*Principal*/

.nav-link{
    font-size: 16px;
}

.placeholdercenter::-webkit-input-placeholder{
    text-align: center;
}

.form-control:focus{
    border-color: #43C6D1;
    box-shadow: 0 0 0 0.2rem rgba(67, 198, 209, 0.50);
}

@media (max-width: 767px) {
    .md-hide{
        display: none;
    }
}

@media (min-height: 1366px) {
    footer{
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1030;
    }
}

.hide{
    display: none;
}