
.container-login{
    margin-top: 50px;
    padding: 45px 20px;
    background: #f4f5f6;
    border-radius: 10px;

}

.container-login span{
    text-align: center;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;

}

.btn{
    width: 85px
}